*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-section{
    position: relative;
    height: 100vh ;
}

.container-first{
    height: 50vh;
    background-image: url("/s5-posicionamiento/assets/hamburguer.jpg");
}

.container-second{
    height: 50vh;
    background-image: url("/s5-posicionamiento/assets/frenchFries.jpg");
}

.form-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    background-color: #F7DC6F;
    position: absolute;
    top: 25%;
    left: 10%;
    padding: 15px;
    width: 80%;
}

.form-container h1{
    color: #000000;
    margin: 10px;
    font-size: 25px;
}

.name , .menu{
    font-size: 18px;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

#name{
    border: none;
    background: none;
    border-bottom: 5px solid #FF0633;
    font-size: 15px;
    margin-bottom: 10px;
}

label{
    font-size: 15px;
    padding: 8px;
    align-items: center;
}

label:hover{
    font-weight: bold;
    transition: 0.3s ease;
}

.submit{
    background:  #F2F3F4;
    padding: 10px 30px;
    border: none;
    border-radius: 15px;
    margin: 10px;
    justify-content: end;
    font-size: 12px;
    font-weight: bold;
    color: #FF0633;
}

.submit:hover{
    background: #FF0633;
    transition: 0.5s ease;
    color: #ffffff;

}

@media only screen and (min-width: 768px) {
    .form-container{
        top: 25%;
        left: 25%;
        width: 50%;
    }
    .form-container h1{
        font-size: 30px;
    }
    .name , .menu{
        font-size: 20px;
    }
    #name{
        font-size: 18px;
    }
    label{
        font-size: 17px;
    }
    .submit{
        font-size: 14px;
    }
    

@media only screen and (min-width: 1024px) {
    .form-container{
        top: 30%;
        left: 30%;
        width: 40%;
    }
    .form-container h1{
        font-size: 43px;
    }
    .name , .menu{
        font-size: 23px;
        flex-direction: row;
    }
    #name{
        font-size: 15px;
        margin-left: 5px;
    }
    label{
        font-size: 20px;
    }
    .submit{
        font-size: 15px;
    }
}
}