.header-section{
    background-color: blue;
    border: 3px solid red;
}

.header-section h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 5px;
    padding-bottom: 10px;
    font-size: 15px;
}

.nav-section{
    background-color: orange;
    border: 3px solid greenyellow;
    color: black;
    margin: 5px 10px;
}

.nav-section p{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  padding-bottom: 10px;
  font-size: 15px;
  margin: 5px 3px;
}

.aside-section{
    background-color: orange;
    border: 3px solid red;
    width: 14%;
    height: 310px;
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.aside-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;  
}

.main-section{
    background-color: orangered;
    border: 3px solid blue;
    display: inline-block;
    width: 70%;
    height: 50%;
    margin-top: 15px;
    padding-bottom: 70px;
}

.main-section h2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    color: white;
}

.article-section{
    background-color: yellow;
    color: black;
    width: 98.5%;
    margin: 5px 3px;
    padding: 3px; 
}

.article-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    height: 50px;
}

.footer-section{
    background-color: palevioletred;
    border: 3px solid black;
    margin-top: 15px;
    color: white;
}

.footer-section p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin: 5px;
    padding-bottom: 30px;
}